# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled static libraries
*.a
*.lib

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executable files
*.exe
*.out
*.app
*.elf

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE settings
.vscode/
.idea/

# Build directories
build/
dist/

# Backup and temporary files
*.bak
*.tmp
*~